# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
/dist/
/coverage/
/build/

# Local env files
.env
.env.local
.env.*.local
.env.production.local
.env.development.local
.env.test.local

# Editor settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: OS-specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# vuepress
.vuepress/dist

# Storybook build
.storybook-out/

# VS Code test coverage plugin
.coverage/
